# Amazon fine food review data-set inspection


## Based on what kaggle master Rohan Rao suggested: 
## "One should spent more than 50% in exploring, visualization, summarizing, and aggregation data to get a deep understanding of the data points, features etc".

In this jupyter notebook, we do
* Data inspection
* Data preprocessing
* Brief Summary

we try do know better about Amazon fine food review data-set here

### Article link: [Platforms Like Kaggle Have Changed The Hiring Landscape, Says Rohan Rao, A Kaggle Grandmaster](https://analyticsindiamag.com/platforms-like-kaggle-changed-hiring-landscape-companies-says-rohan-rao-kaggle-grandmaster-machine-learning-engineer-paytm/)

## System requirement 
* Python >= 3.5
* TensorFlow >= 1.4

### Import Library

In [1]:
import os
import time
import re # reguler expression -> abbreviation re

import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import tensorflow as tf
from tensorflow.python.layers.core import Dense
from tensorflow.python.ops.rnn_cell_impl import _zero_state_tensors

print('TensorFlow Version: {}'.format(tf.__version__))

TensorFlow Version: 1.4.0

/home/paslab/.local/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"]="6,7" # using GPU num 6 & 7 on server, feel free to change GPU number

from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 17536905315344484717
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 15917685146
locality {
  bus_id: 2
}
incarnation: 8320280618050957462
physical_device_desc: "device: 0, name: Tesla P100-SXM2-16GB, pci bus id: 0000:dc:00.0, compute capability: 6.0"
, name: "/device:GPU:1"
device_type: "GPU"
memory_limit: 15917685146
locality {
  bus_id: 2
}
incarnation: 1433996010239458634
physical_device_desc: "device: 1, name: Tesla P100-SXM2-16GB, pci bus id: 0000:dd:00.0, compute capability: 6.0"
]

### Data Inspection

In [3]:
reviews = pd.read_csv("data/Reviews.csv")

In [4]:
reviews.shape

(568454, 10)

In [5]:
reviews.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

### Choose columns you need
In my application, I only need 'Summary' & 'Text' columns. So I pick out those two.

In [6]:
reviews = reviews[['Summary','Text']]

In [7]:
reviews.head(5)

                 Summary                                               Text
0  Good Quality Dog Food  I have bought several of the Vitality canned d...
1      Not as Advertised  Product arrived labeled as Jumbo Salted Peanut...
2  "Delight" says it all  This is a confection that has been around a fe...
3         Cough Medicine  If you are looking for the secret ingredient i...
4            Great taffy  Great taffy at a great price.  There was a wid...